<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inventory
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Produtos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-lg-6">
            <h2>Stock Status</h2>
            <canvas data-url="/api/Produtos" id="products-stock-chart" height="400" width="500"></canvas>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <table id="produtos_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Reference</tdalign>
                        <td>Name</td>
                        <td align="right">Stock (UN)</td>
                        <td>Price (€)</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Produtos)
                    {
                        <tr>
                            <td>@x.CodProduto</td>
                            <td>@x.Descricao</td>
                            @if(x.StockAtual <= 0) {
                                <td align="right" style="color:red;"> @x.StockAtual</td>
                            }
                            else
                            {
                                <td align="right" style="color:green;"> @x.StockAtual </td>
                            }
 
                            <td align="right">@x.PVP1</td>
                            <td align="right"><a href="@Url.Action("View", "Inventory", new { id = x.CodProduto })">Info</a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!-- ./col -->
    </div><!-- /.row -->

</section><!-- /.content -->

<script src="/Scripts/scripts/inventory-charts.js"></script>
<script>
    $(document).ready(function () {
            $('#produtos_table').DataTable();
        });
</script>