<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Dashboard
        <small>2015</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

@ViewBag.Vendas

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>@ViewBag.SalesValue<sup style="font-size: 20px">€</sup></h3>
                    <p>Sales</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/Sales" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>@ViewBag.PurchasesValue<sup style="font-size: 20px">€</sup></h3>
                    <p>Purchases</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="/Purchases" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>@ViewBag.Caixa<sup style="font-size: 20px">€</sup></h3>
                    <p>Cash Flow</p>
                </div>
                <div class="icon">
                    <i class="ion ion-cash"></i>
                </div>
                <div class="small-box-footer">&nbsp;</div>
            </div>
        </div><!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>@ViewBag.ValorInv<sup style="font-size: 20px">€</sup></h3>
                    <p>Inventory value</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-box"></i>
                </div>
                <a href="/Inventory" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div><!-- ./col -->
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Top Products</h2>
            <hr>
            <canvas data-url="/api/Produtos/Top" id="top-products-chart" height="400" width="500"></canvas>
        </div>
        <div class="col-lg-6">
            <h2>Transactions</h2>
            <hr>
            <select id="transacoes-ano">
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                 <option value="2015">2015</option>
            </select>
            <br />
            <canvas data-vendasurl="/api/Vendas/Info" data-comprasurl="/api/Compras/Info" id="transactions-chart" height="400" width="500"></canvas>
        </div>
    </div>



    <script src="~/Scripts/scripts/dashboard-charts.js"></script>

</section><!-- /.content -->
