<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sales
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sales</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-6">
            <h2>Vendas</h2>
            <select id="vendas-ano">
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select><br />
            <canvas data-url="/api/Vendas/Info" id="vendas-chart" height="400" width="500"></canvas>
        </div>
        <div class="col-lg-6">
            <h2>Produtos</h2>
            <select id="produto">
                @foreach (var x in ViewBag.Produtos)
                {
                    <option value="@x.CodProduto">@x.Descricao</option>
                }
                
            </select>
            <select id="produto-ano">
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>
            <br />
            <canvas data-url="/api/Vendas/Info" id="produtos-chart" height="400" width="500"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <table id="sales_table" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Entity</td>
                        <td>Date</td>
                        <td align="right">Value (€) </td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var x in ViewBag.Vendas)
                    {
                        <tr>
                            
                            <td>
                                @((x.Nome == null) ? "n/a" : x.Nome)
                            </td>
                            <td>
                                @((x.Entidade == null) ? "n/a" : x.Entidade)
                            </td>
                            <td style="width:200px">
                                @((x.Data == null) ? "n/a" : x.Data)
                            </td>
                            <td align="right" style="width:80px">
                                @(@x.TotalDesc + @x.TotalEcotaxa + @x.TotalIEC + @x.TotalMerc)
                            </td>
                            <td><a href="@Url.Action("View", "Sales", new { serie = @x.Serie, tipoDoc = @x.TipoDoc, numDoc = @x.NumDoc })"> @((x.Descricao == null) ? "n/a" : x.Descricao)</a>
                               
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div><!-- ./col -->
    </div><!-- /.row -->

</section><!-- /.content -->

<script src="/Scripts/scripts/sales-charts.js"></script>

<script>
    $(document).ready(function () {
            $('#sales_table').DataTable();
        });
</script>