<!-- Main content -->
<section class="content-header">
    
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sales</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <h1>
                @ViewBag.venda.Nome
            </h1>
            <h4>
                Data: @ViewBag.venda.Data.ToString("yyyy-MM-dd")
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-3"><h3>Descrição</h3></div>
                <div class="col-md-3"><h3>Tipo Fatura</h3></div>
                <div class="col-md-2"><h3>Preço Uni (€)</h3></div>
                <div class="col-md-1"><h3>Quan</h3></div>
                <div class="col-md-3"><h3>Morada</h3></div>
            </div>
            <hr />
            @foreach (var x in ViewBag.linhaDoc)
            {
                <div class="row">
                    <div class="col-md-3">@x.Descricao </div>
                    <div class="col-md-3">@x.DescricaoFatura</div>
                    <div class="col-md-2">@x.PrecUnit</div>
                    <div class="col-md-1">@x.Quantidade</div>
                    <div class="col-md-3">@x.Morada</div>
                </div>
                <br />
            }
            <hr />
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">Total:</div>
                <div class="col-md-2">@(@ViewBag.venda.TotalMerc)</div>
                <div class="col-md-1"></div>
                <div class="col-md-3"></div>
            </div>
            <br />

        </div>

    </div>
</section>